<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="consola" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{dd-MMM-yyyy | HH:mm:ss} %green([%thread]) %highlight(%-5level) %cyan(%logger) %boldRed(-----) %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/universidad-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOGS}/archived/universidad-log-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 1GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="consola"/>
        <appender-ref ref="RollingFile"/>
    </root>
</configuration>